#_jpi_message_box {
  position: fixed;
  top: 0;
  left: 0;
  background: #c88;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  z-index: 1001;
  padding:3px;
}

#_jpi_message_box ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

#_jpi_message_box li {
  padding: 5px;
}

#_jpi_message_box li a {
  display: block;
  padding: 5px;
  color: #fff;
}

#_jpi_message_box li a:hover {
  background-color: #eee;
  color: #88c;
}
