#_jpi_message_box,
#_jpi_warning_message_box {
  position: fixed;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  z-index: 1001;
  padding:10px;
  opacity:0.8;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
}

#_jpi_message_box {
  top: 0;
  left: 0;
  background: #c88;
}

#_jpi_warning_message_box {
  top: 10;
  left: 50%;
  background: #000;
}

#_jpi_message_box h3 {
  border-bottom: #fff dotted 2px;
  padding-bottom:5px;
  margin:0;
}

#_jpi_message_box ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

#_jpi_message_box li {
  padding: 5px;
}

#_jpi_message_box li a {
  display: block;
  padding: 5px;
  color: #fff;
}

#_jpi_message_box li a:hover {
  background-color: #eee;
  color: #88c;
}
